<div class="wrapper">
	<a class="admin-panel-button" asp-action="Add">Добавление</a>
	<a class="admin-panel-button" asp-action="Remove">Удаление</a>
	<a class="admin-panel-button" asp-action="EditPicker">Редактирование</a>
	<a class="admin-panel-button" asp-action="Userslist">Список пользователей</a>
</div>