@model User
<h1>Password reset</h1>
<form method="post">
	<div class="input-panel">
		<label for="username">Логин</label>
		<input id="username" type="text" asp-for="Username"/>
		<input class="submit" type="submit" value="Сбросить"/>
		<span asp-validation-for="Username"></span>
	</div>
</form>

@section scripts {
	<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
	<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}