@*<img src="https://image.shutterstock.com/z/stock-photo-lgbt-community-vote-and-gay-rights-pride-voting-or-sexuality-diversity-concept-and-diverse-hands-1763199491.jpg" alt="Main"/>*@
<h1>Главная</h1>
<img class="mainimg" src="../images/logo.png"/>
